
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header, footer, .grid {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
nav {
    background-color: darkblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: darkblue;
    border-bottom: 1px solid #333;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 0;
}

main {
    padding: 10px;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1;
    grid-row: 1;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 18px;
    left: 120px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* class selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / .1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}